<%- include('../partials/header') %>

<main>
  <h1><%= title %></h1>
  <p>EDIT A CAMPGROUND</p>

  <form id="add-campground" action="/camps/<%=camp._id%>?_method=PUT" method="POST">
    <label for="camp-name">Name:</label>
    <input type="text" name="name" value="<%= camp.name %>">
    
    <label for="camp-description">Description:</label>
    <input type="text" name="description" value="<%= camp.description %>">

    
    <label for="total-sites">Total Sites:    </label>
      <input type="number" name="totalSites" id="totalSites" required pattern="^([1-9]|[1-9][0-9]{1,2})$" value="<%= camp.totalSites %>">

      <label for="camp-location">Location:</label>
      <input type="text" name="location" value="<%=camp.location%>">

    <label for="noiseLevel">Noise Level:</label>
    <select name="noiseLevel">
      <option value=""><%=camp.noiseLevel%></option>
      <option value="1">1 = Quiet</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 = Party Town</option>
    </select>

    <fieldset>
      <legend>RV's allowed in Camp:</legend>
      <div>
        <input type="radio" name="rvPermitted" id="rv-yes" value=true checked>
        <label for="rv-yes">Yes</label>
        
        <input type="radio" name="rvPermitted" id="rv-no" value=false>
        <label for="rv-no">No</label>
      </div>
    </fieldset>
    <br>
    <button>UPDATE CAMP</button>
  </form>
  <a href="/camps">Back to all camps</a>
</main>

<%- include('../partials/footer') %>