
<%- include('../partials/header') %>
<h1><%= title %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% camps.forEach(function(c) { %>
      <tr>
        <td><%= c.name %></td>
        <td><a href="/camps/<%= c._id %>"><button>
          DETAILS
        </button></a></td>

      </tr>
      <% }); %>
    </tbody>
  </table>


</main>

<%- include('../partials/footer') %>