<%- include('../partials/header') %>

<h1><%= title %></h1>

<section class="display">
  <h2><%= camp.name %></h2>
  <div>
    <span class="bold"> Description: </span>
  </div>
  <div><%= camp.description %></div>
  <div>
    <span class="bold"> Total Sites: </span>
  </div>
  <div><%= camp.totalSites %></div>
  <div>
    <span class="bold"> Location</span>
  </div>
  <div><%= camp.location %></div>
  <div>
    <span class="bold"> RV's Permitted: </span>
  </div>
  <div><%= camp.rvPermitted ? 'Yes' : 'No' %></div>
  <div id="form-btns">
    <% if (user?._id.equals(camp.user._id)) { %>
    <a href="/camps/<%=camp._id%>/edit"> <button>EDIT</button></a>
    <form action="/camps/<%=camp._id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE</button>
    </form>
    <% } %>
  </div>
</section>

<section class="display">
  <h3>Camp Notes</h3>
  <% if (user) { %>
  <form
    id="add-review-form"
    method="POST"
    action="/camps/<%= camp._id %>/reviews"
  >
    <div>
      <label class="bold">Notes:</label>
      <textarea name="notes"></textarea>
    </div>
    <div>
      <label class="season">Season:</label>
      <select class="seasonInput" name="season" id="season">
        <option value="spring">Spring</option>
        <option value="earlySummer">Early Summer/June</option>
        <option value="midSummer">Mid-Summer</option>
        <option value="lateSummer">Late Summer/September</option>
        <option value="fall">Fall</option>
        <option value="winter">Winter</option>
      </select>
    </div>
    <div>
      <label class="noise">Noise Level:</label>
      <select class="noiseInput" name="rating">
        <option value="1">1 = shhh</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5 = Party Cirty!</option>
      </select>
    </div>
    <div>
      <input id="noteBtn" class="submit" type="submit" value="Add Note" />
    </div>
  </form>
  <% } %>
</section>

<section class="read-notes ">
  <% if (camp.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>created at</th>
        <th>Season</th>
        <th>Noise Level</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% camp.reviews.forEach(function(r) { %>
      <tr>
        <td class="review-user">
          <img
            alt="avatar"
            src="<%= r.userAvatar %>"
            referrerpolicy="no-referrer"
          /><%= r.userName %>
        </td>
        <td><%= r.createdAt.toLocaleDateString() %></td>
        <td><%= r.season %></td>
        <td><%= r.noiseLevel %></td>
        <td><%= r.notes %></td>
        <td>
          <% if (user?._id.equals(r.user)) { %>
          <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
          </form>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h3 id="no-reviews">No Reviews Yet</h3>
  <% } %>
</section>

<%- include('../partials/footer') %>
