<%- include('../partials/header') %>

<h1>
  <%= title %>
</h1>
<section id="show-page">
  <div>Name: 
    <%= camp.name %></div>
  <div>Description: 
    <%= camp.description %></div>
  <div>Total Sites: 
    <%= camp.totalSites %></div>
  <div>Noise Level
    <%= camp.noiseLevel %></div>
  <div>Location
    <%= camp.location %> </div>
  <div>RV's Permitted:
    <%= camp.rvPermitted ? 'Yes' : 'No' %></div>
</section>
<%- include('../partials/footer') %>
